.contact {
    //background-color: var(--color-light);
    padding: 32px;
    display: flex;

    &__inner {
        background-color: var(--color-accent);
        display: flex;
        justify-content: center;
        min-width: 100%;
        padding: var(--gap-l) 0;

        
    
        &--inner {
            width: 100%;
            max-width: 85rem;
            border-top: 1px solid #3F3A10;
            padding: var(--gap-l) 0;

            border-bottom: 1px solid #3F3A10;
            

        }

    }

    &__image-1 {
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: #3F3A10;
            opacity: 0.34;
        }

        img {
            display: block;
        }

    }

    &__image-2 {
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: #3F3A10;
            opacity: 0.34;
        }

        img {
            display: block;
        }


    }

}

.contact__profile {
    display: flex;
    align-items: center;
    width: 100%;
    //width: 1270px;
    justify-content: space-between;
    



    &--1 {
        display: flex;
        align-items: center;
    }

    &--2 {
        display: flex;
        align-items: center;
    }

}

.bjorn {
    margin: 4rem;
    font-family: var(--font-serif);
    color: #707070;
}

.gustaf {
    margin: 4rem;
    font-family: var(--font-serif);
    color: #707070;
}


